{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<header class="center">
    <h1>Add League:</h1>
</header>
<!-- Break -->
<br>
<!-- Add League Form -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_league') }}">
        <!-- Input for League Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-people-group prefix light-blue-text text-darken-4"></i>
                <input id="league_name" name="league_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="league_name">League Name</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green accent-4 black-text waves-effect waves-light">
                    Add League <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}