<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for SEO -->
    <meta name="description"
        content="Make employee of the month fun. Manage your gaming league. Fight you friends. Beat your boss.">
    <!-- Link to Materialize 1.0.0 framework CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Link to Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to custom CSS (Jinja Styled) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title> Office Champion | {% block title %} {% endblock %}</title>
</head>

<body>
    <!-- Materialize Responsive Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper amber darken-3 black-text">
                <!-- The main image acts as an anchor tag to the home page to meet user expectation -->
                <a href="/" class="brand-logo center nav-img">
                    <img class="center" src="{{ url_for('static', filename='assets/images/docs/oc_logo.png') }}"
                        alt="website logo" width="56" height="56">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="black-text" href="{{ url_for('home') }}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="black-text" href="{{ url_for('league') }}">Leagues</a></li>
                    <li><a class="black-text" href="{{ url_for('titles') }}">Titles</a></li>
                    <li><a class="black-text" href="{{ url_for('members') }}">Members</a></li>
                    <li><a class="black-text" href="{{ url_for('notes') }}">Notes</a></li>
                    <li><a class="black-text" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="black-text" href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    <li><a class="black-text" href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
                <!-- Display username greeting on larger screens -->
                <span class="left-spacer hide-on-small-only">Hello "{{ user.username }}!"</span>
            </div>
        </nav>
    </div>
    <!-- Sidenav Burger Icon Menu for smaller devices -->
    <ul class="sidenav amber darken-3" id="mobile-demo">
        <li><a class="black-text" href="{{ url_for('home') }}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a class="black-text" href="{{ url_for('league') }}">Leagues</a></li>
        <li><a class="black-text" href="{{ url_for('titles') }}">Titles</a></li>
        <li><a class="black-text" href="{{ url_for('members') }}">Members</a></li>
        <li><a class="black-text" href="{{ url_for('notes') }}">Notes</a></li>
        <li><a class="black-text" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="black-text" href="{{ url_for('sign_up') }}">Sign Up</a></li>
        <li><a class="black-text" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>

    <!-- Checks if there are flash messages to display and shows them to the user -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <!-- Blue Alert (Success) -->
    <div class="alert card blue white-text" role="alert">
        <div class="card-content" id="alertCard" onclick="removeNode()">
            <p><span><i class="material-icons">info</i>{{ message }}</span>
                <i class="material-icons right">close</i></p>
        </div>
    </div>
    {% else %}
    <!-- Red Alert (Warning) -->
    <div class="alert card red white-text" role="alert">
        <div class="card-content" id="alertCard" onclick="removeNode()">
            <p><span><i class="material-icons">report</i>{{ message }}</span>
                <i class="material-icons right">close</i></p>
        </div>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Template inheritance - Content from other templates appears here -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Materialize Sticky Footer -->
    <footer class="page-footer amber darken-3">
        <div class="footer-copyright">
            <div class="container black-text">
                Any Copyrighted materials are used for educational purposes only.
                <a class="black-text right" href="https://github.com/Hadokane" target="_blank">&copy; HK_Dev</a>
            </div>
        </div>
    </footer>

    <!-- Link to Materialize 1.0.0 Framework JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/67e7e0c15f.js" crossorigin="anonymous"></script>
    <!-- Link to custom JS (Jinja Styled) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>