<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <!-- Link to Materialize 1.0.0 framework CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
    <!-- Link to Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to custom CSS (Jinja Styled) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- Materialize Responsive Navbar -->
    <nav>
        <div class="nav-wrapper amber darken-3">
            <!-- The main image acts as an anchor tag to the home page to meet user expectation -->
                <a href="/" class="brand-logo center nav-img">
                    <img class="center" src="{{ url_for('static', filename='assets/images/docs/oc_logo.png') }}"
                    alt="website logo" width="56" height="56"></img>
                </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Index</a></li>
                <li><a href="{{ url_for('test') }}">Test Page</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav amber darken-3" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Index</a></li>
        <li><a href="{{ url_for('test') }}">Test Page</a></li>
        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>

    <!-- Checks if there are flash messages to display and shows them to the user -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'success' %}
            <!-- Blue Alert -->
            <div class="alert card blue white-text" role="alert">
                <div class="card-content">
                    <p><span><i class="material-icons">info</i>{{ message }}</span></p>
                </div>
            </div>
            {% else %}
            <!-- Red Alert -->
            <div class="alert card red white-text" role="alert">
                <div class="card-content">
                    <p><span><i class="material-icons">report</i>{{ message }}</span></p>
                </div>
                </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- Template inheritance - content appears here -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Materialize Sticky Footer -->
    <footer class="page-footer amber darken-3">
        <div class="footer-copyright">
            <div class="container">
                Any Copyrighted materials are used for educational purposes only.
                <a class="white-text right" href="https://github.com/Hadokane" target="_blank">&copy; HK_Dev</a>
            </div>
        </div>
    </footer>

    <!-- Link to Materialize 1.0.0 framework JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/67e7e0c15f.js" crossorigin="anonymous"></script>
    <!-- Link to custom JS (Jinja Styled) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>