{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<header class="center">
    <h1>Edit Member:</h1>
</header>
<!-- Break -->
<br>
<!-- Edit Member Form -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_members', member_id=member.id) }}">
        <!-- Member Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix light-blue-text text-darken-4"></i>
                <input id="member_name" name="member_name" value="{{ member.member_name }}" minlength="3"
                    maxlength="100" data-length="100" type="text" class="validate" required>
                <label for="member_name">Member Name</label>
            </div>
        </div>
        <!-- Member Role -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-briefcase prefix light-blue-text text-darken-4"></i>
                <input id="member_role" name="member_role" value="{{ member.member_role }}" minlength="3"
                    maxlength="100" data-length="100" type="text" class="validate" required>
                <label for="member_role">Member Role</label>
            </div>
        </div>
        <!-- Member Image Url -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix light-blue-text text-darken-4"></i>
                <!-- Only show URL if URL is present, otherwise no value is provided -->
                {% if member.member_image != none %}
                <input id="member_image" name="member_image" value="{{ member.member_image }}" minlength="3"
                    maxlength="500" type="text">
                <label for="member_image">Image URL:</label>
                {% else %}
                <input id="member_image" name="member_image" minlength="3" maxlength="500" type="text">
                <label for="member_image">Image URL:</label>
                {% endif %}
                <p><small>URL Example: "https://freesvg.org/storage/img/thumb/mustache-guy.png"</small></p>
            </div>
        </div>
        <!-- League ID | Assign member to a league | Left blank on edit to stop users being forced to assign a League -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-people-group prefix light-blue-text text-darken-4"></i>
                <select id="league_id" name="league_id" class="validate">
                    <option value="" disabled selected>Select League</option>
                    {% for league in user.leagues|sort(attribute="league_name") %}
                    <option value="{{ league.id }}">{{ league.league_name }}</option>
                    {% endfor %}
                </select>
                <label for="league_id">League:</label>
            </div>
        </div>
        <!-- Title ID | Assign a title to a member | Left blank on edit to stop users being forced to assign a Title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-medal prefix light-blue-text text-darken-4"></i>
                <select id="title_id" name="title_id" class="validate">
                    <option value="" disabled selected>Make champion</option>
                    {% for title in user.titles|sort(attribute="title_name") %}
                    <option value="{{ title.id }}">{{ title.title_name }}</option>
                    {% endfor %}
                </select>
                <label for="title_id">Title:</label>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green accent-4 black-text">
                    Edit Member <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}