{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!-- Page Header -->
<header class="center">
    <h1>BECOME LEGENDARY!</h1>
 </header>
<!-- Break -->
<br>
<br>
<!-- Main Website Logo/Hero Image -->
<div class="row">
    <div class="col">
        <div class="center">
            <img src="{{ url_for('static', filename='assets/images/oc_logo.png') }}" alt="website logo">
        </div>
    </div>
</div>
<!-- Break -->
<br>
<br>
<!-- Promo section - Three cards that  explain the website to the user. Motivating them to signup -->
<div class="row">
    <!-- Promo Content 1 -->
    <div class="col s12 m6 l4 center-align">
        <div class="card large grey lighten-5">
            <br>
            <i class="fa-solid fa-medal fa-6x"></i>
            <div class="card-content">
                <h2>Fight your friends!</h2>
            </div>
            <div class="card-content">
                <p>Create a league of friends, colleagues or rivals. <strong>Then compete to
                        prove who truly stands at the top of the mountain.</strong></p>
            </div>
        </div>
    </div>
    <!-- Promo Content 2 -->
    <div class="col s12 m6 l4 center-align">
        <div class="card large grey lighten-5">
            <br>
            <i class="fa-solid fa-crown fa-6x"></i>
            <div class="card-content">
                <h2>Beat your boss!</h2>
            </div>
            <div class="card-content">
                <p>Whether that boss sits a desk away from you or exists within your favourite
                    game.<strong> Accomplishments deserve to be recognised and rewarded so create some Titles to compete for!</strong></p>
            </div>
        </div>
    </div>
    <!-- Promo Content 3 -->
    <div class="col s12 m6 l4 center-align">
        <div class="card large grey lighten-5">
            <br>
            <i class="fa-solid fa-user-ninja fa-6x"></i>
            <div class="card-content">
                <h2>Crush your colleagues!</h2>
            </div>
            <div class="card-content">
                <p>With all that done, send your <em>"open league page link"</em> to your friends and compete! Why settle for <del><em>employee of the month</em></del> when you can be the <strong>CHAMPION of the
                        office!</strong> </p>
            </div>
        </div>
    </div>
</div>
<!-- Break -->
<br>
<!-- Sign Up Button | Displays for new users only -->
{% if user.is_authenticated %}
{% else %}
<!-- Sign Up Button Link -->
<div class="row">
    <div class="col s12 center-align">
        <a href="/sign_up" class="btn waves-effect waves-light green accent-4 btn-large black-text">Sign Up Now</a>
    </div>
</div>
{% endif %}
<!-- Break -->
<br>
<br>
{% endblock %}
