<!-- Loads base template content -->
{% extends "base.html" %}
<!-- Sets Title shown in web browser tabs -->
{% block title %}
Leagues
{% endblock %}
{% block content %}
<!-- Section Header -->
<header class="center">
    <h1>Create League:</h1>
</header>
<!-- Break -->
<br>
<!-- Add League Button -->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_league') }}" class="btn-large green accent-4 black-text">
            Add League <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
<!-- Break -->
<br>
<!-- Section Header -->
<div class="center">
    <h1>View Leagues:</h1>
</div>
<!-- Break -->
<br>
<!-- Display Leagues (Read DB) -->
<div class="row">
    <!-- Find all Leagues associated with User) -->
    {% for league in user.leagues|sort(attribute="league_name") %}
    <div class="col s12 m6">
        <div class="card small light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title"><strong>{{ league.league_name }}</strong></span>
            </div>
            <!-- Open this specific League's page -->
            <div class="card-panel light-blue darken-3 white-text">
                <p><a href="{{ url_for('open_league', league_id=league.id) }}" class="btn-large orange accent-4">Open
                        The
                        League</a></p>
            </div>
            <!-- Break -->
            <br>
            <div class="card-action">
                <!-- Edit League Name -->
                <a href="{{ url_for('edit_league', league_id=league.id) }}"
                    class="btn green accent-4 black-text right-spacer">Edit</a>
                <!-- Call Delete Modal -->
                <a href="#modal-{{ league.id }}" class="btn red black-text modal-trigger">Delete</a>
                <!-- Modal Structure -->
                <div id="modal-{{ league.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete League?</h4>
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <!-- Modal Options -->
                    <div class="modal-footer">
                        <div class="col">
                            <!-- Close Modal -->
                            <a class="btn-large red black-text modal-close">No</a>
                        </div>
                        <!-- Delete League -->
                        <a href="{{ url_for('delete_league', league_id=league.id) }}"
                            class="btn-large green accent-4 black-text">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}