{% extends "base.html" %}
{% block title %}
Leagues
{% endblock %}
{% block content %}

<h1 class="center-align">Create your League here:</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_league') }}" class="btn-large">
            Add League <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for league in user.leagues|sort(attribute="name") %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ league.league_name }}</span>
            </div>
            <div class="card-action">
                <!-- Edit League Name -->
                <a href="{{ url_for('edit_league', league_id=league.id) }}" class="btn green accent-4">Edit</a>
                <!-- Call Delete Modal -->
                <a href="#modal-{{ league.id }}" class="btn red modal-trigger">Delete</a>
                <!-- Modal Structure -->
                <div id="modal-{{ league.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete League?</h4>
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="col">
                            <a class="btn-large red modal-close">No</a>
                        </div>                        
                        <a href="{{ url_for('delete_league', league_id=league.id) }}" class="btn-large green accent-4">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}