{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block content %}

<!-- Form sends get request to backend on submission, to compare against stored account data -->
<div class="row">
    <form class="col s12" action="#" method="POST">
        <div class="row">
            <!-- Title -->
            <div class="div center">
                <h3>Login</h3>
            </div>
            <!-- Name Input -->
            <div class="input-field">
                <i class="material-icons col prefix">email</i>
                <!-- Field name="" is shown on backend form -->
                <input id="username" name="username" placeholder="Enter Username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <!-- Password Input -->
            <div class="input-field">
                <i class="material-icons col prefix">stars</i>
                <input id="password" name="password" placeholder="Enter Password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="div center">
            <button type="submit" value="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}