{% extends "base.html" %}
{% block title %}
Notes
{% endblock %}
{% block content %}
<!-- Section Header -->
<div class="center">
   <h2><strong><u>Add Note:</u></strong></h2>
   <p>-Add a league to have them appear on the leagues page!-</p>
</div>
<br>
<!-- Add a Note Form -->
<div class="row card-panel grey lighten-5">
   <form method="POST">
      <div class="row">
         <!-- Textarea for Note Data -->
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
            <textarea name="note" id="note" class="form-control materialize-textarea"></textarea>
            <label for="note">Write your note here:</label>
         </div>
      </div>
      <!-- Note Date -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
            <input id="date" name="date" type="text" class="datepicker validate" required>
            <label for="date">Date</label>
         </div>
      </div>
      <!-- League ID | Assign notes to a league -->
      <div class="input-field col s12">
         <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
         <select id="league_id" name="league_id" class="validate" required>
            <option value="" disabled selected>Select League</option>
            {% for league in user.leagues|sort(attribute="league_name") %}
            <option value="{{ league.id }}">{{ league.league_name }}</option>
            {% endfor %}
         </select>
         <label for="league_id">League:</label>
      </div>
      <!-- Break-->
      <br>
      <!-- Send Button -->
      <div class="center container">
         <button class="btn-large green accent-4 waves-effect waves-light" type="submit" name="action">Add New Note
            <i class="material-icons right">send</i>
         </button>
      </div>
   </form>
</div>
<!-- Break-->
<br>
<!-- Section Header -->
<div class="center">
   <h2><strong><u>View Notes:</u></strong></h2>
   <p>-Keep track of any update or challenge ideas for your Leagues here!-</p>
</div>
<!-- Break-->
<br>
<!-- Read/Update/Delete notes -->
<div class="row">
   <div class="col s12">
      <ul id="notes" class="collection">
         <!-- Show all notes related to the specific user -->
         {% for note in user.notes|sort(attribute="date") %}
         <!-- Display Note Data -->
         <li class="collection-item grey lighten-5">{{ note.data }}
            <!-- Display Note Date -->
            <br><small>({{ note.date.strftime("%d %B, %Y") }})</small>
            <!-- Call Delete Modal -->
            <a href="#modal-{{ note.id }}" class="btn red accent-4 modal-trigger right">Delete Note</a>
            <!-- Edit the Note -->
            <a href="{{ url_for('edit_notes', note_id=note.id) }}" class="btn green accent-4 right right-spacer">Edit
               Note</a>
            <!-- Usable for class association later | Hide on release -->
            <p><em>[{{ note.league.league_name }}]</em></p>
         </li>
         <!-- Modal Structure -->
         <div id="modal-{{ note.id }}" class="modal center">
            <div class="modal-content">
               <h4>Delete Note?</h4>
               <p>Are you sure?</p>
            </div>
            <!-- Modal Options -->
            <div class="modal-footer">
               <div class="col">
                  <!-- Close Modal -->
                  <a class="btn-large red modal-close">No</a>
               </div>
               <!-- Delete Note -->
               <a href="{{ url_for('delete_note', note_id=note.id) }}" class="btn-large green accent-4">Yes</a>
            </div>
         </div>
         {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}
