<!-- Same Page Nav | Outside of the base template so it's not contained within a column -->
<div class="sidebar hide-on-med champ-nav">
    <br>
    <br>
    <br>
    <a href="#champions">CHAMPIONS</a>
    <a href="#members">MEMBERS</a>
    <a href="#notes">NOTES</a>
</div>
<!-- Loads base template content -->
{% extends "base.html" %}
<!-- Sets Title shown in web browser tabs -->
{% block title %}{{ league.league_name }}{% endblock %}
{% block content %}
<h1 class="light-blue-text text-darken-4 center-align" id="champions"><strong><u>{{ league.league_name }}</u></strong>
</h1>

<!-- Title Holders Displayed -->
<div class="row">
    {% for member in champions|sort(attribute="title_name") %}
    {% if member.title_id != None %}
    <div class="col s12 m6 l3">
        <div class="card hoverable light-blue darken-4 center-align z-depth-2">
            <div class="card-content white-text">
                <!-- Display Image if available -->
                {% if member.member_image == None %}
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png">
                </img>
                {% else %}
                <img src="{{ member.member_image }}"></img>
                {% endif %}
                <span class="card-title">{{ member.member_name }}</span>
                <p>{{ member.member_role }}</p>
            </div>
            <!-- Display Title Image -->
            <div class="card-panel light-blue darken-3 white-text">
                <!-- If no image is provided, show the default placeholder image -->
                {% if member.title.image_url == "" %}
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"></img>
                {% else %}
                <img src="{{ member.title.image_url }}"></img>
                {% endif %}
                <p><strong>{{ member.title.title_name }}</strong></p>
                <p>{{ member.league.league_name }}</p>
            </div>
            <br>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Other Members Displayed -->
<div class="row grey lighten-3" id="members">
    <!-- Loop through champions | Display non-champions -->
    {% for member in champions|sort(attribute="member_name") %}
    {% if member.title_id == None %}
    <div class="col s12 m6 l3">
        <div class="card medium hoverable light-blue darken-4 center-align z-depth-2">
            <div class="card-content white-text">
                <!-- Display Image if available -->
                {% if member.member_image == None %}
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png">
                </img>
                {% else %}
                <img src="{{ member.member_image }}"></img>
                {% endif %}
                <!-- Member Name -->
                <h4 class="card-title">{{ member.member_name }}</h4>
                <p>{{ member.member_role }}</p>
            </div>
            <!-- Included to style cards -->
            <div class="card-panel light-blue darken-3 white-text">
            </div>
            <br>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Notes Displayed -->
<div class="row" id="notes">
    <ul id="notes" class="collection">
        <!-- Accesses all relevant notes related to the league -->
        {% for note in display|sort(attribute="date") %}
        <li class="collection-item grey lighten-5">{{ note.data }}
            <!-- Call Delete Modal -->
            <a href="#modal-{{ note.id }}" class="btn red accent-4 modal-trigger right">Delete Note</a>
            <a href="{{ url_for('edit_notes', note_id=note.id) }}" class="btn green accent-4 right right-spacer">Edit
                Note</a>
            <!-- Display Note Date -->
            <br><small>({{ note.date.strftime("%d %B, %Y") }})</small>
        </li>
        <!-- Modal Structure -->
        <div id="modal-{{ note.id }}" class="modal center">
            <div class="modal-content">
                <h4>Delete Note?</h4>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <div class="col">
                    <a class="btn-large red modal-close">No</a>
                </div>
                <a href="{{ url_for('delete_note', note_id=note.id) }}" class="btn-large green accent-4">Yes</a>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}