{% extends "base.html" %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}

<!-- Checks if there are flash messages to display and shows them to the user -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Form sends post request to backend on submission -->
<div class="row">
    <form class="col s12" method="POST">
        <div class="row">
            <!-- Title -->
            <div class="div center">
                <h3>Sign Up</h3>
            </div>
            <!-- Name Input -->
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <!-- Field name="" is shown on backend form -->
                <input id="username" name="username" placeholder="Enter Username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <!-- Password Input -->
            <div class="input-field col s6">
                <i class="material-icons prefix">stars</i>
                <input id="password1" name="password1" placeholder="Enter Password" type="password" class="validate">
                <label for="password1">Password</label>
            </div>
            <!-- Password Confirm Input -->
            <div class="input-field col s6">
                <i class="material-icons prefix">stars</i>
                <input id="password2" name="password2" placeholder="Confirm Password" type="password" class="validate">
                <label for="password2">Password Confirm</label>
            </div>
        </div>
        <div class="div center">
            <button type="submit" value="submit">submit</button>
        </div>
    </form>
</div>
{% endblock %}