{% extends "base.html" %}
{% block title %}
Titles
{% endblock %}
{% block content %}

<h1 class="center-align">Create your Titles here:</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_title') }}" class="btn-large">
            Add Title <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for title in user.titles|sort(attribute="title_name") %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <!-- If no image is provided, show the default placeholder image -->
                {% if title.image_url == "" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"></img>
                {% else %}
                <img src="{{ title.image_url }}"></img>
                {% endif %}
                <span class="card-title">{{ title.title_name }}</span>
                <p>{{ title.title_description }}</p>
                <!-- Usable for class association later | Hide on release -->
                <p>ID: {{ title.league_id }}</p>
                <p>League: {{ title.league.league_name }}</p>
                <p><small>[{{ title.title_created.strftime("%d %B %Y") }}]</small></p>
            </div>
            <div class="card-action">
                <!-- Edit Title Name -->
                <a href="{{ url_for('edit_title', title_id=title.id) }}" class="btn green accent-4">Edit</a>
                <!-- Call Delete Modal -->
                <a href="#modal-{{ title.id }}" class="btn red modal-trigger">Delete</a>
                <!-- Modal Structure -->
                <div id="modal-{{ title.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete Title?</h4>
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="col">
                            <a class="btn-large red modal-close">No</a>
                        </div>
                        <a href="{{ url_for('delete_title', title_id=title.id) }}" class="btn-large green accent-4">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}