body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #01579b;
}

main {
    flex: 1 0 auto;
}

img {
    width: 100%;
}

.nav-img{
    margin: 5px;
}

.spacer{
    padding-top: 50px;
}

.right-spacer{
    margin-right: 50px;
}

.card-content span {
			font-weight: bold;
			font-size: 1.1em;
			margin-right:4px;
}

.card-content .material-icons {
			font-size: 1.4em;
			position: relative;
			top: 5px;
			margin-right: 0.5em;
}	
